@page "/"
@using MauiApp1.Services


<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    IScreenLockDetector temp = ScreenDetector.Detector;

    List<String> screenLockLog = new List<String>();

}